# Backend (BFF)
BFF/node_modules/
BFF/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Optional (good practice)
node_modules/
.env
.env.*
example_layout.png
example_layout_1.png
layout1.webp
layout2.webp
example_layout_4.png
example_layout_2.png
example_layout_3.png
